<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{name}}. It used data from mapbox.com and weatherstack.com</p>
        <img class= "potrait" src="/img/Me.jpg">
        <p>Software Developer by Profession</p>
    </div>

    {{>footer}}
</body>

</html>